@model UserCreateModel

@{
    ViewData["Title"] = "Create User";
}

<form asp-action="Index" asp-controller="Home" method="post">
    <div class="mb-3">
        <label class="form-label">Kullanıcı Adı</label>
        <input asp-for="@Model.Username" class="form-control" required/>
    </div>
    <div class="mb-3">
        <label class="form-label">Cinsiyet</label>
        @* asp-for => asp-for'a girmiş olduğumuz değer, input'un name ve id alanına yazılır. İçindeki değer değil sadece ismi yazılır.(asp-for="@Model.GenderId" => name = GenderId id = GenderId) *@
        <select asp-for="@Model.GenderId" asp-items="@Model.Genders" class="form-select" required> 
            <option value="">Bir cinsiyet seçiniz.</option>
        </select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>